<!--Calculator main container-->
<div class="calculator">

  <!--Calculator result screen-->
  <input type="text" class="calculator-screen" [value]="currentNumber" disabled />
  <!--/Calculator result screen-->

  <!--Calculator keys-->
  <div class="calculator-keys">

    <!--Operators-->
    <button type="button" class="operator" (click)="getOperation('+')">+</button>
    <button type="button" class="operator" (click)="getOperation('-')">-</button>
    <button type="button" class="operator" (click)="getOperation('*')">&times;</button>
    <button type="button" class="operator" (click)="getOperation('/')">&divide;</button>
    <!--/Operators-->

    <!--Operands-->
    <button type="button" (click) = "getNum('7')">7</button>
    <button type="button" (click) = "getNum('8')">8</button>
    <button type="button" (click) = "getNum('9')">9</button>
    <button type="button" (click) = "getNum('4')">4</button>
    <button type="button" (click) = "getNum('5')">5</button>
    <button type="button" (click) = "getNum('6')">6</button>
    <button type="button" (click) = "getNum('1')">1</button>
    <button type="button" (click) = "getNum('2')">2</button>
    <button type="button" (click) = "getNum('3')">3</button>
    <button type="button" (click) = "getNum('0')">0</button>
    <!--/Operands-->

    <!--Decimal-->
    <button type="button" class="decimal" (click) = "getDecimal()">.</button>
    <!--/Decimal-->

    <!--All Clear-->
    <button type="button" class="all-clear" (click)="clr()">AC</button>
    <!--/All Clear-->

    <!--Equals-->
    <button type="button" class="equal-sign" (click)="getOperation('=')">=</button>
    <!--/Equals-->

    <!--Plus/Minus-->
    <button type="button" class="plus-minus-sign" (click)="toggleNegativeSign()">+/-</button>
    <!--/Plus/Minus-->
  </div>
  <!--/Calculator keys-->
</div>
<!--/Calculator main container-->
